
#rect{

  width: 30em;
  height:30em;
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

#bell {

  display: block;
  margin: 0em 0em -2em 97%;

  fill: #FFD200;
  width: 2em;
  height: 2em;

}
#bell:hover {

  fill: #d64161;

}

.WelcomeMSG {

   margin: 10em 0em 5em 0em;
   padding-bottom: 15em;
}

.WelcomeMSG h1 {

  margin: 0em 0em 2em 0em;
  color: #d64161; 
  font-size: 5em;  
  font-weight: normal;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.WelcomeMSG p {

  font-size: 1.1EM;
  letter-spacing: .2em;

}


/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #d64161;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #d64161;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .45s ease-Out;
  padding: 3em;
  margin: -2em;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: #d64161;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button-4:hover #underline {
  left: 0;
}

.footer{

  background-color: #F5F0F0;
  height: 15em;
  width: 100%;

  font-size: 0.85em;
  font-weight: normal;



}
.about {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:left;

  text-align: center;

}

.contact {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:left;

  text-align: center;

}

.Quote {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:left;

  text-align: center;

}

#outer{
  font-weight: bold; 
  color: #9B9999;
  margin: 2em 4em 1.5em 4em;

}

#inner{

  text-align: center;
  line-height: 1.7em; 
  margin: 0em 8em 0 8em;
  text-decoration: none;
  text-align: center;


}

#inner a:visited {

  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

#inner a:link {

  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

#inner a:active{

  color: #d64161;
  background-color: transparent;
  text-decoration: none;

}

#inner a:hover {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {


  #bell {

  margin: 0em 0em -2em 90%;

}

  .WelcomeMSG {

     margin: 10em 0em 5em 0em;
  }

.WelcomeMSG h1 {

    color: #d64161; 
    font-size: 2.5em;  
    font-weight: normal;
    letter-spacing: .3em;
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0em 3em 0em;

  }

.WelcomeMSG p {

    font-size: 1.5em;

  }

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #d64161;
  margin: 20px 20px 20px 20px;
  color: #d64161;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #d64161;
  text-decoration: none;
  letter-spacing: 1px;
}
  

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .45s ease-Out;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: #d64161;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button-4:hover #underline {
  left: 0;
}


.footer{

  background-color: #F5F0F0;
  height: 50em;
  width: 100%;

  font-size: 0.85em;
  font-weight: normal;


}

#inner{

  text-align: center;
  line-height: 1.7em; 
  margin: 0em 2em 0 2em;
  text-decoration: none;
  text-align: center;


}

.about {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}

.contact {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}

.Quote {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}


}