.header {
   color: #d64161; 
   	font-weight: normal;
   letter-spacing: .5em;
   margin-bottom: 1em;
   text-transform: uppercase;
}
.wlcmPrgf{
	font-weight: normal;
   letter-spacing: .4em;
   margin-bottom: 1em;
   text-transform: lowercase;

}

.LClist{
  text-align: left;
  padding-left: 16px;
}  


ul {
    font-size: 18px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
li {
    position: relative;
    margin: 0 0 10px 0;
    padding-left: 11px;
}

a:link {
  color: #d64161; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}