.header {
   color: #d64161; 
   font-weight: normal;
   letter-spacing: .5em;
   margin: 1.5em 0em 1em 0em;
   text-transform: uppercase;
}



.wlcmPrgf{
	font-weight: normal;
   margin: 10REM 0REM 0REM 0REM;
   letter-spacing: .4em;
   margin-bottom: 1em;
   text-transform: lowercase;

}
.wlcmPrgf h1{
  font-size: 5EM;

}
.wlcmPrgf p{
  font-size: 1.1EM;

}
.LClist{
  text-align: left;
  padding-left: 16px;
}  


ul {
    font-size: 18px;
    list-style: none;
    margin: 2em 0 0 -0.8125em;
    padding-left: 11px;

}
li {
    position: relative;
    margin: 1em 1em 0em 0;
    padding-left: 2em;
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 1em;
    text-transform: uppercase;
}


a:link {
  color: #d64161; 
  margin: 0 10px 10px 0;
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}