@font-face {
font-family: "CustomFont";
src: url("../../Files/fonts/DubaiW23-Bold.woff");
}


body {
background-color: #2e4053;
-ms-overflow-style: none; /* Hide scrollbars */
}

::-webkit-scrollbar {
  display: none;
}

#top_bar{
    display: block;

}

#notification-trigger {

  width: 1.7em;
  height: 1.7em;
  margin: 0em 0.3em 0em 0.3em;

}

#lang_en {


  width: 1.7em;
  height: 1.7em;
  margin: 0em 0.3em 0em 0.3em;

}

.WelcomeMSG {
  color: #ffffff; 
  font-family: CustomFont;
  margin: 10em 0em 5em 0em;
  padding-bottom: 15em;
}

.WelcomeMSG h1 {

  margin: 0em 0em 1em 0em;
  font-size: 5em;  
  font-weight: normal;
  text-transform: uppercase;
}

.WelcomeMSG p {

  font-size: 1.1EM;


}


/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #f4d03f;
  margin: 20px 20px 20px 20px;
  color: #f4d03f;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .45s ease-Out;
  padding: 3em;
  margin: -2em;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  right: -200px;
  background: #f4d03f;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button-4:hover #underline {
  right: 0;
}

.footer{

  background-color: #f5eef8;
  height: 15em;
  width: 100%;

  font-size: 0.85em;
  font-weight: normal;



}
.about {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:right;

  text-align: center;

}

.contact {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:right;

  text-align: center;

}

.Quote {

  padding-top: 1em;
  height: 10em;
  width: 33.33%;
  float:right;

  text-align: center;

}

#outer{
  font-weight: bold; 
  color: #9B9999;
  margin: 2em 4em 1.5em 4em;

}

#inner{

  text-align: center;
  line-height: 1.7em; 
  margin: 0em 8em 0 8em;
  text-decoration: none;
  text-align: center;


}

#inner a:visited {

  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

#inner a:link {

  color: #d64161;
  background-color: transparent;
  text-decoration: none;
}

#inner a:active{

  color: #d64161;
  background-color: transparent;
  text-decoration: none;

}

#inner a:hover {
  color: #d64161;
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {


#notification-trigger {

  margin: 0em 0em -2em 90%;

}


#lang_en {
  margin: 0.5em 96% -2em 4em;
}

  .WelcomeMSG {

     margin: 7em 0em 5em 0em;
  }

.WelcomeMSG h1 {

    font-size: 2.5em;  
    text-align: center;
    margin: 1em 0em 1em 0em;

  }

.WelcomeMSG p {

    font-size: 1.5em;

  }

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  margin: 20px 20px 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}
  

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .45s ease-Out;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

#button-4:hover #underline {
  left: 0;
}


.footer{

  height: 50em;
  width: 100%;
  background-color: #f5eef8;
  font-size: 0.85em;


}

#inner{

  text-align: center;
  line-height: 1.7em; 
  margin: 0em 2em 0 2em;
  text-decoration: none;
  text-align: center;


}

.about {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}

.contact {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}

.Quote {

  padding-top: 2em;
  height: 15em;
  width: 100%;
  float:none;
  text-align: center;

}


}